login-wrap {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 65px 55px 55px 55px;

    form {

        h2 {
            display: block;
            font-family: Poppins-Bold;
            font-size: 39px;
            color: #333333;
            line-height: 1.2;
            text-align: center;
        }

    }
}
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }