<mat-card>
    <login-wrap>
        <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Log In</h2>
            <mat-error *ngIf="loginInvalid">
            The username and password were not recognised
            </mat-error>
            <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="username" required>
            <div class="login-error">
                Please provide a valid email address
            </div>
            </mat-form-field>
            <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <div class="login-error">
                Please provide a valid password
            </div>
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
        </form>
        </mat-card-content>
    </login-wrap>
  </mat-card>